.chat-container {
    width: 68%;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  }
  
  .chats {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 10px 0 0;
    height: 82.5vh;
    overflow-y: scroll;
  }
  
  .chats .chat {
    background: #EDEDED;
    position: relative;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    list-style: none;
    float: left;
    clear: both;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 57.5%;
    
    height: auto;
    word-break: break-all;
    text-overflow: ellipsis;
  }
  
  .chats .chat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
  }
  img.right{
    right:10px;
  }
  
  img.left{
    left:10px;
  }
  
  .content.right{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 10px;
    font-family: "Baloo Chettan", cursive;
  }
  
  .content.left{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 10px;
    font-family: "Baloo Chettan", cursive;
  }
  .chats .chat.right {
    float: right;
    clear: both;
    font-family: "Baloo Chettan", cursive;
  }
  
  .chats .chat a {
    text-decoration: none;
    color: #3498db;
  }
  
  .time.right{
    margin-top: 15px;
    margin-right: 5px;
    bottom: 0;
    float: right;
    color: #999;
  }
  
  .time.left{
    margin-top: 15px;
    margin-left: 5px;
    bottom: 0;
    float: left;
    color: #999;
  }
  
  .input {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .input input[type="text"] {
    background: rgba(255, 255, 255, 0.5);
    outline: 0;
    border: 1px solid black;
    padding: 0 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 1%;
    margin-right: 2px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  #submitButton {
    height: 35px;
    margin-right: 0%;
    width: 5%;
  }
  #plane {
    margin-top:0px;
  }
  
  .input input[type="submit"]:hover {
    background: #1ee494;
    color: #fff;
  }
  
  .profile{
    text-align: justify;
    float: left;
    margin-right: 5px;
  }
  .profile img{
    display: block;
  }
  .user.right{
    float: right;
  }
  .user.left{
    float:left;
  }