.groupPanel-container {
    height: 92vh;
    width: 32%;
    float: left;
    text-align: center;
    background: linear-gradient(rgba(194, 197, 235, 0.856), transparent);
    background-color: rgb(22, 21, 51);
  }
  
  .form-group {
    width: calc(100% - 38px);
    margin-top: 9px;
  }
  
  .addLabel {
    width: 100%;
  }
  
  #groupItem {
    width: 100%;
  }
  #addButton {
    width: 38px;
    height: 30px;
    margin-top: 9px;
  }
  #addButton:hover{
    background: #1143CB;
  }
  #StatusButton {
    width: 66px;
    height: 49px;
  }
  #eachGroupItem {
    height: 49px;
    float: left;
    width: calc(100% - 66px);
  }
  
  .Leave {
    width: 66px;
    height: 49px;
    float: right;
    background-color: #fd5757;
    color:white;
    font-weight: bold;
  }
  .Leave:hover {
    background-color: #c11f2a;
  }
  .Join {
    width: 66px;
    height: 49px;
    float: right;
    background-color: #3dc63b;
    color:white;
    font-weight: bold;
  }
  .Join:hover {
    background-color: #217020;
  }
  #eachGroupItem:hover {
    background: rgb(229, 193, 238);
  }
  
  .btn-sm {
    width: 30%;
    height: 38px;   
  }