.Login-Page {
    text-align: center;
    /* background-color: #ffffff; */
    /* background:linear-gradient(rgba(47, 77, 245, 0.5), transparent);
    background-color: rgb(194, 229, 238); */
    background-image: url(http://24.media.tumblr.com/dd44c0fd9446c0fc9dfa02059d3ced37/tumblr_mvqgsaLwG31s8b7jbo1_1280.gif);
    background-repeat: repeat;
    /* background-position: 'center';
    background-size: 'cover';
    width: 100vw; */
    height: 100vh;
  }
  
  .Field-Container {
    font-family: "Baloo Chettan", cursive;
    padding: 25px;
    width: 600px;
    height: 40vh;
    border: #4d4d4d solid 1px;
    box-shadow: 2px 2px 2px rgb(59, 59, 59);
    /* border-radius: 1rem; */
    background:linear-gradient(rgba(152, 188, 223, 0.856), transparent);
    background-color: #ffffff;
    margin-top: 30vh;
    display: inline-block;
    text-align: center;
  }
  
  .enterText {
    margin-top: 30px;
  }
  
  .blankAlert {
    font-family: "Gill Sans", sans-serif;
    text-align: left;
    color: red;
    margin-top: 1vh;
  }
  