.ChatRoom-container {
    height: 100%;
    font-family: "Quicksan";
  }
  
  .leftNav {
    border-style: solid;
    width: 100px;
  }
  
  .leftNav hr {
    width: 302px;
    border: 1px solid;
  }
  
  .group-container {
    float: left;
  }
  .message {
    border: 1px solid;
    height: 65px;
    width: 30vw;
    padding: 17px;
  }
  .avatar {
    float: left;
    margin-right: 5px;
  }
  .datetime {
    float: right;
    color: #999;
  }
  .send-message-form input {
    width: 50;
    border: none;
    font-size: 16px;
    padding: 10px;
  }
  .send-message-form button {
    display: none;
  }
  
  .navbar {
    height: 8vh;
    padding: 8px 12px;
    border-width: 0 0 0.5px 0;
    border-style: solid;
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    /* background:linear-gradient(rgba(95, 102, 206, 0.856), transparent);
    background-color: rgb(17, 6, 116); */
    background:linear-gradient(rgba(76, 78, 104, 0.856), transparent);
    background-color: rgb(9, 5, 44);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .navbar-text {
    color: rgb(255, 255, 255);
    text-shadow: lightslategrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }